.process-list {
    width: 80%;
    height: 40%;
    /* border: 2px solid white; */
    border-collapse: collapse;

    margin-top: 3rem;
}

tr, th, td {
    border: 1px solid rgb(92, 92, 92);

}
.head-row {
    height: 50px;
}

.process-row {
    height: 30px;
}